<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="titleInputWrapper">
    <div class="title">
      TEXT MINER
    </div>
    <div class="characterLength">

    </div>
    <div class="inputWrapper">
      <textarea class="textInput" name="text" cols="40" rows="5" placeholder= 'type here...please type only english...you can type under 5000 characters' ></textarea>
    </div>
  </div>
  <div class="dataChart">
    <div class="wordsWrapper">
    </div>
    <div class="singleUsedWordsWrapper">
    </div>
    <div class="oftenUsedWordsWrapper">
      <div class="leftPartWrapper">
        <div class="leftRandomLocatingChart">
        </div>
      </div>
      <div class="centerPartWrapper">
        <div class="upperRandomLocatingChart">
        </div>
        <div class="lowerRandomLocatingChart">
        </div>
      </div>
      <div class="rightPartWrapper">
        <div class="rightRandomLocatingChart">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
