<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="titleInputWrapper">
    <div class="title">
      Data Miner
    </div>
    <div class="inputWrapper">
      <textarea class="textInput" name="text" cols="40" rows="5"></textarea>
    </div>
  </div>
  <div class="dataChart">
    <div class="wordsWrapper">
    </div>
  </div>
</body>
</html>
