// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.titleInputWrapper {
  width: 45%;
  height: 90%;
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 15%;
  color: white;
  font-size: 75px;
}

.inputWrapper {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataChart {
  width: 45%;
  height: 90%;
  border: solid 1px white;
  border-radius: 10px;
}

.textInput {
  width: 90%;
  height: 90%;
  border: solid 1px white;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 30px;
}
