// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.titleInputWrapper {
  width: 20%;
  height: 90%;
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 15%;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.inputWrapper {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataChart {
  width: 75%;
  height: 90%;
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.characterLength {
  width: 80%;
  min-height: 20px;
  color: white;
  background-color: black;
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
}

.textInput {
  width: 90%;
  height: 90%;
  border: solid 1px white;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
}

.words {
  margin: 1px;
  font-weight: 900;
  position: absolute;
  transition: all 0.5s;
}

.singleUsedWord {
  margin: 0 2px 0 2px;
  font-weight: 900;
  height: 20px;
}

.singleUsedWordsWrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: black;
  left: 10%;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
}

.wordsWrapper {
  margin: 0 100px 50px 0;
  width: 65%;
  height: 80%;
  position: relative;
}

.oftenUsedWordsWrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftPartWrapper {
  width: 20%;
  height: 100%;
  margin: 1px;
}

.centerPartWrapper {
  width: 60%;
  height: 100%;
  margin: 1px;
}

.rightPartWrapper {
  width: 20%;
  height: 100%;
  margin: 1px;
}

.upperRandomLocatingChart {
  position: relative;
  width: 100%;
  height: 30%;
  margin-bottom: 40%;
}

.lowerRandomLocatingChart {
  position: relative;
  width: 100%;
  height: 30%;
}

.leftRandomLocatingChart {
  position: relative;
  width: 30%;
  height: 100%;
}

.rightRandomLocatingChart {
  position: relative;
  width: 30%;
  height: 100%;
}

.hide {
  display: none;
}

.alertMessage {
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-weight: 900;
  font-size: 30px;
  padding: 12px 0 0 10px;
}

.textShadowWhite {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.textShadowBlack {
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.hoveredCenter {
  padding: 20px;
  z-index: 10;
  font-size: 80px;
  margin: 1px;
  font-weight: 900;
  position: absolute;
  display: flex;
  background-color: yellow;
  border: solid 1px white;
  border-radius: 20px;
}

.hovered {
  z-index: 10;
  font-size: 50px;
  margin: 1px;
  font-weight: 900;
  position: absolute;
  display: flex;
  padding: 20px;
  border: solid 1px white;
  background-color: black;
  border-radius: 20px;
  opacity: 0.9;
}
